body {
    font-family: Verdana;
}
#left-banner {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}
#right-banner {
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: right;
}
.list-block {
    background-color: #B0BEC5;
    height: 320px;
    overflow-y: scroll;
}
.footer {
    background-color: #29434E;
    color: white;
}
.video-block {
    margin: 5px;
    width: 226px;
    height: 280px;
}
h3 {
    background-color: #546E7A;
    color: white;
    margin: 0;
}
h4 {
    text-align: center;
    margin: 0;
}